/* global */
a {
  text-decoration: none; }

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85))), url("../img/bodyBcg.jpeg");
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/bodyBcg.jpeg");
  background: -o-linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/bodyBcg.jpeg");
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/bodyBcg.jpeg"); }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

.section-padding {
  padding: 3rem 0; }

.section-title-underline {
  width: 5rem;
  background: #f2b450;
  height: 0.25rem;
  margin-top: 1rem; }

.section-text {
  letter-spacing: 0.1rem;
  line-height: 1.5;
  margin-top: 1rem;
  color: #a9b2ac; }

/* preloading */
.preloading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #e3b505;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/* header */
header.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  position: relative; }
  header.header .logo {
    z-index: 3;
    text-align: center; }
  header.header .logo-name {
    font-size: 9rem;
    color: #e3b505; }
  header.header .social-icon {
    display: inline-block;
    padding: 0.25rem;
    border: 0.1rem solid #191919;
    border-radius: 50%;
    color: #191919;
    margin: 0 5px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    header.header .social-icon:hover {
      background: #e3b505; }
  header.header .video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; }
    header.header .video-container .video-item {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  header.header .navBar {
    position: fixed;
    top: 0;
    left: 0;
    background: #f2b450;
    width: 0;
    height: 100%;
    overflow: hidden;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }
    header.header .navBar a {
      display: block;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      color: #382923; }
      header.header .navBar a:hover {
        background: #382923;
        color: #f2b450;
        padding-left: 1.5rem; }
    header.header .navBar .nav-logo:hover {
      background: #a9b2ac; }
  header.header .nav-show {
    width: 10rem; }
  header.header .navBtn {
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 3.5rem;
    color: #e3b505;
    cursor: pointer;
    -webkit-animation: movingNav 2s infinite;
    animation: movingNav 2s infinite; }

.video-switch-container {
  display: none; }

@media (max-width: 768px) {
  header.header {
    background: url("../img/headerBcg.jpeg") center/cover fixed no-repeat; }
    header.header .logo-name {
      font-size: 4rem;
      color: #f2b450; } }

@media (min-width: 768px) {
  .video-switch-container {
    display: block;
    position: absolute;
    right: 5%;
    bottom: 5%; }
    .video-switch-container .video-switch {
      background: #f2b450;
      width: 5rem;
      border-radius: 0.25rem;
      padding: 0.25rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      text-transform: uppercase; }
    .video-switch-container .video-switch-btn {
      position: absolute;
      top: 0;
      left: 0;
      background: #382923;
      width: 50%;
      height: 100%;
      border-radius: 0.5rem; }
    .video-switch-container .btnSlide {
      left: 50%; } }

@-webkit-keyframes movingNav {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes movingNav {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/* end of header */
/* about */
.about {
  margin-top: 4rem; }
  .about .about-container {
    padding: 0 2rem 1rem 2rem; }
  .about .section-img img {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem; }
  .about .section-display {
    width: 50%;
    float: left; }
    .about .section-display + .section-display {
      padding-left: 4rem; }

@media (max-width: 768px) {
  .about .main-container {
    max-width: 90vh;
    margin: 0 auto; }
  .about .about-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .about .about-row > div {
      margin-bottom: 1rem; }
  .about .section-display {
    width: 100%;
    float: none; }
    .about .section-display + .section-display {
      padding: 0; }
  .about .about-special {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; } }

/* end of about */
/* drink */
.drink {
  background: #382923;
  color: #e3b505;
  text-transform: capitalize; }
  .drink .main-container {
    text-align: center; }
  .drink .drink-form-feedback {
    border: 0.1rem solid #f2b450;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 60%;
    margin: 0 auto;
    display: none;
    border-radius: 0.5rem; }
  .drink .error {
    display: block;
    color: red;
    border-color: red; }
  .drink .success {
    display: block;
    color: green;
    border-color: green; }
  .drink .drink-form > * {
    margin-bottom: 1rem; }
  .drink .drink-form-title, .drink .drink-card-title {
    font-size: 3rem; }
  .drink .input-name, .drink .input-lastname, .drink .input-email, .drink .input-submit {
    width: 60%;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    background: rgba(111, 87, 77, 0.6);
    color: #bb9457;
    border: none;
    outline: none;
    margin-bottom: 1rem; }
    .drink .input-name::-webkit-input-placeholder, .drink .input-lastname::-webkit-input-placeholder, .drink .input-email::-webkit-input-placeholder, .drink .input-submit::-webkit-input-placeholder {
      color: #bb9457;
      text-transform: capitalize; }
    .drink .input-name:-ms-input-placeholder, .drink .input-lastname:-ms-input-placeholder, .drink .input-email:-ms-input-placeholder, .drink .input-submit:-ms-input-placeholder {
      color: #bb9457;
      text-transform: capitalize; }
    .drink .input-name::-ms-input-placeholder, .drink .input-lastname::-ms-input-placeholder, .drink .input-email::-ms-input-placeholder, .drink .input-submit::-ms-input-placeholder {
      color: #bb9457;
      text-transform: capitalize; }
    .drink .input-name::placeholder, .drink .input-lastname::placeholder, .drink .input-email::placeholder, .drink .input-submit::placeholder {
      color: #bb9457;
      text-transform: capitalize; }
  .drink .input-submit {
    background: #f2b450;
    color: #191919;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    cursor: pointer;
    text-transform: uppercase; }
    .drink .input-submit:hover {
      opacity: 0.8; }
  .drink .drink-card-title {
    margin-bottom: 1rem; }
  .drink .person {
    float: left;
    display: inline-block;
    width: 45%;
    font-size: 1.5rem;
    border: 0.1rem solid rgba(111, 87, 77, 0.6);
    border-radius: 0.5rem;
    text-align: left;
    padding: 1rem;
    margin: 0 1rem;
    margin-bottom: 1rem; }
    .drink .person .person-name, .drink .person .person-lastname {
      display: inline-block;
      line-height: 50px;
      vertical-align: top; }

@media (max-width: 768px) {
  .drink .person {
    float: none;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem; } }

/* end of drink */
/* work section */
.work .section-title {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize; }

.work .section-title-underline {
  margin: 1rem auto 0 auto; }

.work-container {
  max-width: 90vw;
  margin: 2rem auto; }
  .work-container .work-item-img {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear; }
  .work-container .work-item {
    background: -webkit-gradient(linear, left top, left bottom, from(#f2b450), to(#f2b450));
    background: -webkit-linear-gradient(#f2b450, #f2b450);
    background: -o-linear-gradient(#f2b450, #f2b450);
    background: linear-gradient(#f2b450, #f2b450);
    overflow: hidden;
    position: relative; }
  .work-container .work-item:hover .work-item-img {
    opacity: 0.5;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .work-container .work-item-icon {
    position: absolute;
    color: #e3b505;
    top: 50%;
    left: 50%;
    display: inline-block;
    font-size: 4rem;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .work-container .work-item:hover .work-item-icon {
    -webkit-transform: scale(1.3) translate(-50%, -50%);
    -ms-transform: scale(1.3) translate(-50%, -50%);
    transform: scale(1.3) translate(-50%, -50%); }
  .work-container .work-item-icon:hover {
    color: #382923;
    cursor: pointer; }

@media (min-width: 576px) {
  .work-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; } }

@media (min-width: 992px) {
  .work-container {
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "one one two three" "one one four four" "five six seven seven" "eight nine seven seven"; }
  .item-1 {
    grid-area: one; }
  .item-2 {
    grid-area: two; }
  .item-3 {
    grid-area: three; }
  .item-4 {
    grid-area: four; }
  .item-5 {
    grid-area: five; }
  .item-6 {
    grid-area: six; }
  .item-7 {
    grid-area: seven; }
  .item-8 {
    grid-area: eight; }
  .item-9 {
    grid-area: nine; } }

/* end of work section */
/* modal */
.work-modal {
  display: none; }

.work-modal-show {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.work-modal-item {
  background: url("../img/work-1.jpeg") center/cover;
  height: 70vh;
  width: 80vw;
  border: 0.5rem solid #f2b450;
  border-radius: 0.4rem; }

@media (min-width: 768px) {
  .work-modal-item {
    height: 80vh;
    width: 60vw; } }

.work-modal-close {
  position: fixed;
  font-size: 3rem;
  color: #e3b505;
  bottom: 5%;
  right: 5%;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer; }
  .work-modal-close:hover {
    color: red; }

/* end of modal section */
/* contact section */
.contact-container {
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 1rem; }
  .contact-container .contact-info {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .contact-container .contact-item {
    margin: 1rem 0;
    padding: 0.5rem; }
  .contact-container .contact-item-icon {
    font-size: 3rem;
    color: #f2b450; }
  .contact-container .contact-item-title {
    text-transform: uppercase;
    margin: 0.5rem 0;
    letter-spacing: 0.25rem;
    font-style: italic; }
  .contact-container .contact-item-text {
    font-size: 1rem;
    text-transform: uppercase;
    color: #a9b2ac; }

@media (min-width: 768px) {
  .contact-info {
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; } }

@media (min-width: 992px) {
  .contact-info {
    grid-template-columns: 1fr;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .contact-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2rem; } }
